
@{
    ViewBag.Title = "System stypendialny";
}

<div class="jumbotron">
    <h1>eStypednium</h1>
    <p class="lead">System umożliwiający studentom składanie dokumentów stypendialnych do dziekanatu. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stypendium rektora</h2>
        <p>
            Ubiegaj się o stypednium rektora dla najlepszych studentów!
        </p>
        <p><a class="btn btn-default" href=@Url.Action("PresidentSch", "Scholarship")>Rozpocznij teraz!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stypendium socjalne</h2>
        <p>W tym miejscu możesz się ubiegać o stypendium socjalne.</p>
        <p><a class="btn btn-default" href=@Url.Action("SocialSch", "Scholarship")>Rozpocznij teraz!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stypendium dla niepełnosprawnych</h2>
        <p>Złóż wniosek o przyznanie stypendium dla niepełnosprawnych.</p>
        <p><a class="btn btn-default" href=@Url.Action("DisabledSch", "Scholarship")>Rozpocznij teraz!</a></p>
    </div>
</div>

