@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student1.0</h1>
    <p class="lead">Platforma przeznaczona dla studentów, która umożliwia składanie dokumentów stypendialnych do dziekanatu oraz rezerwację pokoi w domach studenckich Politechniki Poznańskiej.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>System stypendialny</h2>
        <p>
            System umożliwiający studentom składanie dokumentów stypendialnych do dziekanatu. Można ubiegać się o następujące stypendia:
            <ul>
                <li>stypendium rektora,</li>
                <li>stypendium socjalne,</li>
                <li>stypendium dla niepełnosprawnych.</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Scholarship")>System eStypendium</a></p>
    </div>
    <div class="col-md-6">
        <h2>System rezerwacji pokoi w domu studenckim</h2>
        <p>System umożliwiający rezerwację pokoi w domach studenckich.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Dorm")>System eAkademik</a></p>
    </div>
</div>