
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>eAkademik</h1>
    <p class="lead">System umożliwiający rezerwację pokoi w domach studenckich.</p>
    <p><a class="btn btn-default" href=@Url.Action("BookDorm", "Dorm")>Zarezerwuj pokój</a></p>
</div>

